node_modules
public/bower_components
public/index.html
public/elements/**/*.es5.js
public/elements/**/*.es5.js.map
public/**/*-styles.html
public/index-inline.css
npm-debug.log
*.log
.DS_Store
package-lock.json
temp
dist
.idea
.github/
.vscode/
predix-scripts/
package-lock.json
